examples/control node demo.json
[{"id":"beb6e99a0b8ad072","type":"FINS Control","z":"bec69dbd.8d622","name":"","connection":"97172f6a093bad4f","clockType":"json","clock":"","connectOptionsType":"msg","connectOptions":"options","msgPropertyType":"msg","msgProperty":"payload","commandType":"msg","command":"topic","x":550,"y":640,"wires":[["dc0a0d6f2be841b6"]]},{"id":"ee37e473dbf2cf33","type":"inject","z":"bec69dbd.8d622","name":"Set PLC mode STOP","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"stop","x":240,"y":780,"wires":[["beb6e99a0b8ad072"]]},{"id":"9beef66a64ef3f68","type":"inject","z":"bec69dbd.8d622","name":"Set PLC mode RUN","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"run","x":250,"y":820,"wires":[["beb6e99a0b8ad072"]]},{"id":"dc0a0d6f2be841b6","type":"debug","z":"bec69dbd.8d622","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":710,"y":640,"wires":[]},{"id":"7638b445906d0e4f","type":"inject","z":"bec69dbd.8d622","name":"Get PLC STATUS","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"status","x":250,"y":600,"wires":[["beb6e99a0b8ad072"]]},{"id":"201d6f19ee51c7c7","type":"inject","z":"bec69dbd.8d622","name":"Read PLC clock","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"clock-read","x":260,"y":640,"wires":[["beb6e99a0b8ad072"]]},{"id":"7253be4a4afd792f","type":"inject","z":"bec69dbd.8d622","name":"Read CPU Unit data","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"cpu-unit-data-read","x":250,"y":680,"wires":[["beb6e99a0b8ad072"]]},{"id":"ae9e858706b45d7b","type":"inject","z":"bec69dbd.8d622","name":"Connect with options (UDP)","props":[{"p":"topic","vt":"str"},{"p":"options","v":"{\"host\":\"192.168.1.120\",\"port\":9600,\"protocol\":\"udp\",\"DNA\":0,\"DA1\":120,\"DA2\":0,\"SNA\":0,\"SA1\":36,\"SA2\":0}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"connect","x":220,"y":420,"wires":[["beb6e99a0b8ad072"]]},{"id":"817cb22e32480395","type":"inject","z":"bec69dbd.8d622","name":"Connect with options (TCP)","props":[{"p":"topic","vt":"str"},{"p":"options","v":"{\"host\":\"192.168.1.120\",\"port\":9700,\"protocol\":\"tcp\",\"DNA\":0,\"DA1\":120,\"DA2\":0,\"SNA\":0,\"SA1\":38,\"SA2\":0}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"connect","x":220,"y":460,"wires":[["beb6e99a0b8ad072"]]},{"id":"4cdc105ce9e8ddf8","type":"comment","z":"bec69dbd.8d622","name":"Demo of FINS Control node","info":"","x":220,"y":380,"wires":[]},{"id":"be70389b5d1029b8","type":"inject","z":"bec69dbd.8d622","name":"Disconnect from PLC","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"disconnect","x":240,"y":500,"wires":[["beb6e99a0b8ad072"]]},{"id":"97172f6a093bad4f","type":"FINS Connection","name":"PLC1","host":"127.0.0.1","port":"9600","MODE":"CSCJ","protocol":"","protocolType":"udp","ICF":"128","DNA":"","DA1":"","DA2":"","SNA":"","SA1":"","SA2":"","autoConnect":false}]