examples/control node demo.json
[{"id":"41cbcb56620cb98c","type":"FINS Control","z":"bec69dbd.8d622","name":"","connection":"97172f6a093bad4f","clockType":"json","clock":"","connectOptionsType":"msg","connectOptions":"options","msgPropertyType":"msg","msgProperty":"payload","commandType":"msg","command":"topic","x":1610,"y":2140,"wires":[["397879725da0f764"]]},{"id":"d623297f0a04c923","type":"inject","z":"bec69dbd.8d622","name":"Set PLC mode STOP","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"stop","x":1300,"y":2280,"wires":[["41cbcb56620cb98c"]]},{"id":"4c05d6b9201504bd","type":"inject","z":"bec69dbd.8d622","name":"Set PLC mode RUN","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"run","x":1310,"y":2320,"wires":[["41cbcb56620cb98c"]]},{"id":"397879725da0f764","type":"debug","z":"bec69dbd.8d622","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":1770,"y":2140,"wires":[]},{"id":"f95f5e53659ff218","type":"inject","z":"bec69dbd.8d622","name":"Get PLC STATUS","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"status","x":1310,"y":2100,"wires":[["41cbcb56620cb98c"]]},{"id":"02a65617091c0a5d","type":"inject","z":"bec69dbd.8d622","name":"Read PLC clock","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"clock-read","x":1320,"y":2140,"wires":[["41cbcb56620cb98c"]]},{"id":"f5affef361a50b99","type":"inject","z":"bec69dbd.8d622","name":"Read CPU Unit data","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"cpu-unit-data-read","x":1310,"y":2180,"wires":[["41cbcb56620cb98c"]]},{"id":"8eabb285ae9d92b1","type":"inject","z":"bec69dbd.8d622","name":"Connect with options (UDP)","props":[{"p":"topic","vt":"str"},{"p":"options","v":"{\"host\":\"192.168.1.120\",\"port\":9600,\"protocol\":\"udp\",\"DNA\":0,\"DA1\":120,\"DA2\":0,\"SNA\":0,\"SA1\":36,\"SA2\":0}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"connect","x":1280,"y":1920,"wires":[["41cbcb56620cb98c"]]},{"id":"689285904d2a9f4a","type":"inject","z":"bec69dbd.8d622","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"disconnect","x":1330,"y":2000,"wires":[["41cbcb56620cb98c"]]},{"id":"58fe08e197f81289","type":"inject","z":"bec69dbd.8d622","name":"Connect with options (TCP)","props":[{"p":"topic","vt":"str"},{"p":"options","v":"{\"host\":\"192.168.1.120\",\"port\":9700,\"protocol\":\"tcp\",\"DNA\":0,\"DA1\":120,\"DA2\":0,\"SNA\":0,\"SA1\":38,\"SA2\":0}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"connect","x":1280,"y":1960,"wires":[["41cbcb56620cb98c"]]},{"id":"ffdbc0501c4ccf64","type":"comment","z":"bec69dbd.8d622","name":"Demo of FINS Control node","info":"","x":1280,"y":1880,"wires":[]},{"id":"ca5023ab05b217bd","type":"catch","z":"bec69dbd.8d622","name":"","scope":["de9564a68ea418fd","0c7719ca211f5695","ab241d530e2dc2b9","030d4180fafbc311","fa4bcc7c25459108","41cbcb56620cb98c","c439024f679850b1","dedeec0845f8c5ed","42231c42a2ed9d0d","de40c3e5fe0ed0db"],"uncaught":false,"x":1200,"y":1780,"wires":[["a00ffafe4611a73f"]]},{"id":"a00ffafe4611a73f","type":"debug","z":"bec69dbd.8d622","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"error.message","statusType":"msg","x":1370,"y":1780,"wires":[]},{"id":"97172f6a093bad4f","type":"FINS Connection","name":"PLC1","host":"127.0.0.1","port":"9600","MODE":"CSCJ","protocol":"","protocolType":"udp","ICF":"128","DNA":"","DA1":"","DA2":"","SNA":"","SA1":"","SA2":"","autoConnect":false}]