examples/control node demo.json
[{"id":"beb6e99a0b8ad072","type":"FINS Control","z":"bec69dbd.8d622","name":"","connection":"97172f6a093bad4f","clockType":"json","clock":"","connectOptionsType":"msg","connectOptions":"options","msgPropertyType":"msg","msgProperty":"payload","commandType":"msg","command":"topic","x":490,"y":840,"wires":[["dc0a0d6f2be841b6"]]},{"id":"ee37e473dbf2cf33","type":"inject","z":"bec69dbd.8d622","name":"Set PLC mode STOP","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"stop","x":220,"y":940,"wires":[["beb6e99a0b8ad072"]]},{"id":"9beef66a64ef3f68","type":"inject","z":"bec69dbd.8d622","name":"Set PLC mode RUN","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"run","x":210,"y":980,"wires":[["beb6e99a0b8ad072"]]},{"id":"dc0a0d6f2be841b6","type":"debug","z":"bec69dbd.8d622","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":630,"y":840,"wires":[]},{"id":"7638b445906d0e4f","type":"inject","z":"bec69dbd.8d622","name":"Get PLC STATUS","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"status","x":210,"y":800,"wires":[["beb6e99a0b8ad072"]]},{"id":"201d6f19ee51c7c7","type":"inject","z":"bec69dbd.8d622","name":"Read PLC clock","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"clock-read","x":200,"y":840,"wires":[["beb6e99a0b8ad072"]]},{"id":"7253be4a4afd792f","type":"inject","z":"bec69dbd.8d622","name":"Read CPU Unit data","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"cpu-unit-data-read","x":210,"y":880,"wires":[["beb6e99a0b8ad072"]]},{"id":"ae9e858706b45d7b","type":"inject","z":"bec69dbd.8d622","name":"Connect with options (UDP)","props":[{"p":"topic","vt":"str"},{"p":"options","v":"{\"host\":\"192.168.1.120\",\"port\":9600,\"protocol\":\"udp\",\"DNA\":0,\"DA1\":120,\"DA2\":0,\"SNA\":0,\"SA1\":36,\"SA2\":0}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"connect","x":240,"y":660,"wires":[["beb6e99a0b8ad072"]]},{"id":"817cb22e32480395","type":"inject","z":"bec69dbd.8d622","name":"Connect with options (TCP)","props":[{"p":"topic","vt":"str"},{"p":"options","v":"{\"host\":\"192.168.1.120\",\"port\":9700,\"protocol\":\"tcp\",\"DNA\":0,\"DA1\":120,\"DA2\":0,\"SNA\":0,\"SA1\":38,\"SA2\":0}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"connect","x":240,"y":700,"wires":[["beb6e99a0b8ad072"]]},{"id":"4cdc105ce9e8ddf8","type":"comment","z":"bec69dbd.8d622","name":"Demo of FINS Control node (adjust the connection options in the INJECT node)","info":"","x":380,"y":300,"wires":[]},{"id":"be70389b5d1029b8","type":"inject","z":"bec69dbd.8d622","name":"Disconnect from PLC","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"disconnect","x":220,"y":740,"wires":[["beb6e99a0b8ad072"]]},{"id":"2cb907c650d49fba","type":"FINS Control","z":"bec69dbd.8d622","name":"","connection":"97172f6a093bad4f","clockType":"json","clock":"","connectOptionsType":"msg","connectOptions":"options","msgPropertyType":"msg","msgProperty":"payload","commandType":"status","command":"","x":430,"y":420,"wires":[["79101fd5b363a15a"]]},{"id":"e940482e8fed563b","type":"FINS Control","z":"bec69dbd.8d622","name":"","connection":"97172f6a093bad4f","clockType":"json","clock":"","connectOptionsType":"msg","connectOptions":"options","msgPropertyType":"msg","msgProperty":"payload","commandType":"cpu-unit-data-read","command":"","x":470,"y":480,"wires":[["1716c96fededbe07"]]},{"id":"a795bf58525b7d23","type":"FINS Control","z":"bec69dbd.8d622","name":"","connection":"97172f6a093bad4f","clockType":"json","clock":"","connectOptionsType":"msg","connectOptions":"options","msgPropertyType":"msg","msgProperty":"payload","commandType":"stop","command":"","x":430,"y":540,"wires":[["7b1541ec93480dde"]]},{"id":"0a17c8bc4d46b3a3","type":"FINS Control","z":"bec69dbd.8d622","name":"","connection":"97172f6a093bad4f","clockType":"json","clock":"","connectOptionsType":"msg","connectOptions":"options","msgPropertyType":"msg","msgProperty":"payload","commandType":"run","command":"","x":430,"y":600,"wires":[["259f167c94ea437d"]]},{"id":"636a24ac588c7ab3","type":"FINS Control","z":"bec69dbd.8d622","name":"","connection":"97172f6a093bad4f","clockType":"msg","clock":"","connectOptionsType":"none","connectOptions":"","msgPropertyType":"msg","msgProperty":"payload","commandType":"clock-read","command":"","x":250,"y":1080,"wires":[["45b788d342ca30e9"]]},{"id":"03474ecfb0699167","type":"inject","z":"bec69dbd.8d622","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":135,"y":1080,"wires":[["636a24ac588c7ab3"]],"l":false},{"id":"f769a488db5bb484","type":"debug","z":"bec69dbd.8d622","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":630,"y":1080,"wires":[]},{"id":"29565e6f316ac72a","type":"FINS Control","z":"bec69dbd.8d622","name":"","connection":"97172f6a093bad4f","clockType":"msg","clock":"clock","connectOptionsType":"none","connectOptions":"","msgPropertyType":"msg","msgProperty":"payload","commandType":"clock-write","command":"","x":430,"y":1140,"wires":[[]]},{"id":"725d5cc9721ef0c5","type":"function","z":"bec69dbd.8d622","name":"get time","func":"\nvar now = new Date();\nmsg.clock = { \n    \"year\": now.getFullYear() - 2000,\n    \"month\": now.getMonth()+1,\n    \"day\": now.getDate(),\n    \"hour\": now.getHours(),\n    \"minute\": now.getMinutes(),\n    \"second\": now.getSeconds()\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":1140,"wires":[["29565e6f316ac72a"]]},{"id":"45b788d342ca30e9","type":"function","z":"bec69dbd.8d622","name":"make time","func":"msg.payload = new Date(msg.payload.year+2000, msg.payload.month, msg.payload.day, msg.payload.hour, msg.payload.minute, msg.payload.second);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":1080,"wires":[["f769a488db5bb484"]]},{"id":"3c15eed2c14bf843","type":"inject","z":"bec69dbd.8d622","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":135,"y":1140,"wires":[["725d5cc9721ef0c5"]],"l":false},{"id":"76ce2f278c7584f6","type":"comment","z":"bec69dbd.8d622","name":"Demo of CLOCK READ and CLOCK WRITE","info":"","x":270,"y":1040,"wires":[]},{"id":"b7840778807316da","type":"inject","z":"bec69dbd.8d622","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":135,"y":420,"wires":[["2cb907c650d49fba"]],"l":false},{"id":"79101fd5b363a15a","type":"debug","z":"bec69dbd.8d622","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":630,"y":420,"wires":[]},{"id":"1716c96fededbe07","type":"debug","z":"bec69dbd.8d622","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":626.8958129882812,"y":479.8888854980469,"wires":[]},{"id":"7b1541ec93480dde","type":"debug","z":"bec69dbd.8d622","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":630,"y":540,"wires":[]},{"id":"259f167c94ea437d","type":"debug","z":"bec69dbd.8d622","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":630,"y":600,"wires":[]},{"id":"915f418e2ec2581d","type":"inject","z":"bec69dbd.8d622","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":135,"y":480,"wires":[["e940482e8fed563b"]],"l":false},{"id":"f3237b3b8b2417d8","type":"inject","z":"bec69dbd.8d622","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":135,"y":540,"wires":[["a795bf58525b7d23"]],"l":false},{"id":"2fd9f36935c44632","type":"inject","z":"bec69dbd.8d622","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":135,"y":600,"wires":[["0a17c8bc4d46b3a3"]],"l":false},{"id":"a6b1e72906e48a9b","type":"FINS Control","z":"bec69dbd.8d622","name":"","connection":"97172f6a093bad4f","clockType":"json","clock":"","connectOptionsType":"msg","connectOptions":"options","msgPropertyType":"msg","msgProperty":"payload","commandType":"connect","command":"","x":440,"y":360,"wires":[["4c8eab76aaf43383"]]},{"id":"4c8eab76aaf43383","type":"debug","z":"bec69dbd.8d622","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":630,"y":360,"wires":[]},{"id":"0bc45df8169c3268","type":"inject","z":"bec69dbd.8d622","name":"Connect with options (UDP)","props":[{"p":"topic","vt":"str"},{"p":"options","v":"{\"host\":\"192.168.1.120\",\"port\":9600,\"protocol\":\"udp\",\"DNA\":0,\"DA1\":120,\"DA2\":0,\"SNA\":0,\"SA1\":36,\"SA2\":0}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"connect","x":240,"y":360,"wires":[["a6b1e72906e48a9b"]]},{"id":"97172f6a093bad4f","type":"FINS Connection","name":"PLC1","host":"127.0.0.1","port":"9600","MODE":"CSCJ","protocol":"","protocolType":"env","ICF":"128","DNA":"","DA1":"","DA2":"","SNA":"","SA1":"","SA2":"","autoConnect":false}]