examples/demo with buffer parser.json
[{"id":"390ae96d392114e3","type":"inject","z":"bec69dbd.8d622","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"D0","payload":"hello","payloadType":"str","x":160,"y":1920,"wires":[["81d181190f925dd8"]]},{"id":"da947b5e438f4d2d","type":"inject","z":"bec69dbd.8d622","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"D0","payload":"bye","payloadType":"str","x":150,"y":1960,"wires":[["81d181190f925dd8"]]},{"id":"c753cd9e60185a3c","type":"buffer-parser","z":"bec69dbd.8d622","name":"buffer to uint16","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"uint16be","name":"item1","offset":0,"length":-1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"value","resultTypeType":"output","multipleResult":true,"fanOutMultipleResult":false,"setTopic":false,"outputs":1,"x":520,"y":1940,"wires":[["17adef6c0de326fc"]]},{"id":"17adef6c0de326fc","type":"FINS Write","z":"bec69dbd.8d622","name":"","connection":"97172f6a093bad4f","addressType":"str","address":"D0","dataType":"msg","data":"payload","msgPropertyType":"msg","msgProperty":"payload","x":840,"y":1940,"wires":[[]]},{"id":"30daaf9ae3ae446f","type":"FINS Read","z":"bec69dbd.8d622","name":"","connection":"97172f6a093bad4f","addressType":"str","address":"D0","countType":"num","count":"10","msgPropertyType":"msg","msgProperty":"payload","outputFormatType":"buffer","outputFormat":"","x":330,"y":2040,"wires":[["820310eaa20738d1"]]},{"id":"c7bcdfb1315fda13","type":"inject","z":"bec69dbd.8d622","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":115,"y":2040,"wires":[["30daaf9ae3ae446f"]],"l":false},{"id":"820310eaa20738d1","type":"buffer-parser","z":"bec69dbd.8d622","name":"buffer to string","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"string","name":"item1","offset":0,"length":10,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"value","resultTypeType":"output","multipleResult":true,"fanOutMultipleResult":false,"setTopic":false,"outputs":1,"x":540,"y":2040,"wires":[["d443448df0b933c3"]]},{"id":"d443448df0b933c3","type":"debug","z":"bec69dbd.8d622","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":2040,"wires":[]},{"id":"13bf339cf7fbf86a","type":"comment","z":"bec69dbd.8d622","name":"Demo of writing and reading strings using buffer parser and buffer maker","info":"","x":330,"y":1880,"wires":[]},{"id":"8bd4d6a776237fb1","type":"inject","z":"bec69dbd.8d622","name":"data1","props":[{"p":"payload"},{"p":"payload.RPM","v":"2401.7","vt":"num"},{"p":"payload.setRPM","v":"2400.0","vt":"num"},{"p":"payload.faultCount","v":"3","vt":"num"},{"p":"payload.lastFault","v":"stalled","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":150,"y":2160,"wires":[["227bc9acb77d098e"]]},{"id":"6101dec3464d732f","type":"buffer-parser","z":"bec69dbd.8d622","name":"buffer to uint16","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"uint16be","name":"item1","offset":0,"length":-1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"value","resultTypeType":"output","multipleResult":true,"fanOutMultipleResult":false,"setTopic":false,"outputs":1,"x":540,"y":2180,"wires":[["15dfad84b9fc9326","cffd904b0eede28d"]]},{"id":"15dfad84b9fc9326","type":"FINS Write","z":"bec69dbd.8d622","name":"","connection":"97172f6a093bad4f","addressType":"str","address":"D0","dataType":"msg","data":"payload","msgPropertyType":"msg","msgProperty":"payload","x":840,"y":2180,"wires":[[]]},{"id":"cb9d5371baf21eb9","type":"FINS Read","z":"bec69dbd.8d622","name":"","connection":"97172f6a093bad4f","addressType":"str","address":"D0","countType":"num","count":"12","msgPropertyType":"msg","msgProperty":"payload","outputFormatType":"buffer","outputFormat":"","x":330,"y":2300,"wires":[["c357977b8f7d052c","8004ff8036ac6b80"]]},{"id":"f656fade389e30be","type":"inject","z":"bec69dbd.8d622","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":115,"y":2300,"wires":[["cb9d5371baf21eb9"]],"l":false},{"id":"ec497c34281db2fd","type":"debug","z":"bec69dbd.8d622","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":2300,"wires":[]},{"id":"b3638ff7cf9a93c3","type":"comment","z":"bec69dbd.8d622","name":"Demo of writing floats, ints, bytes from an object then reading them back from PLC into correct types and back into named properties","info":"","x":520,"y":2120,"wires":[]},{"id":"227bc9acb77d098e","type":"buffer-maker","z":"bec69dbd.8d622","name":"","specification":"spec","specificationType":"ui","items":[{"name":"RPM","type":"floatbe","length":1,"dataType":"msg","data":"payload.RPM"},{"name":"setRPM","type":"floatbe","length":1,"dataType":"msg","data":"payload.setRPM"},{"name":"faultCount","type":"uint16be","length":1,"dataType":"msg","data":"payload.faultCount"},{"name":"status","type":"byte","length":1,"dataType":"msg","data":"payload.status"},{"name":"lastFault","type":"string","length":10,"dataType":"msg","data":"payload.lastFault"}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","x":350,"y":2180,"wires":[["6101dec3464d732f"]]},{"id":"cffd904b0eede28d","type":"debug","z":"bec69dbd.8d622","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":2240,"wires":[]},{"id":"c357977b8f7d052c","type":"buffer-parser","z":"bec69dbd.8d622","name":"buffer to key/value object","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"floatbe","name":"RPM","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"floatbe","name":"setRPM","offset":4,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16be","name":"faultCount","offset":8,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"byte","name":"status","offset":10,"length":1,"offsetbit":0,"scale":"1","mask":"0x7"},{"type":"string","name":"lastFault","offset":11,"length":10,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"output","multipleResult":false,"fanOutMultipleResult":false,"setTopic":false,"outputs":1,"x":570,"y":2300,"wires":[["ec497c34281db2fd"]]},{"id":"871317b18c82a6be","type":"inject","z":"bec69dbd.8d622","name":"data2","props":[{"p":"payload"},{"p":"payload.RPM","v":"97.193","vt":"num"},{"p":"payload.setRPM","v":"100","vt":"num"},{"p":"payload.faultCount","v":"19","vt":"num"},{"p":"payload.status","v":"1","vt":"num"},{"p":"payload.lastFault","v":"over speed","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":150,"y":2200,"wires":[["227bc9acb77d098e"]]},{"id":"c6b8d3dee8b429b6","type":"catch","z":"bec69dbd.8d622","name":"","scope":["c753cd9e60185a3c","17adef6c0de326fc","30daaf9ae3ae446f","820310eaa20738d1","6101dec3464d732f","15dfad84b9fc9326","cb9d5371baf21eb9","227bc9acb77d098e","c357977b8f7d052c"],"uncaught":false,"x":650,"y":1800,"wires":[["bfe14e227f8aaa12"]]},{"id":"bfe14e227f8aaa12","type":"debug","z":"bec69dbd.8d622","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","statusVal":"error.message","statusType":"msg","x":870,"y":1800,"wires":[]},{"id":"8004ff8036ac6b80","type":"debug","z":"bec69dbd.8d622","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":2360,"wires":[]},{"id":"f174b0070ef1031d","type":"comment","z":"bec69dbd.8d622","name":"NOTE: This demo requires \"node-red-contrib-buffer-parser\" to be installed","info":"","x":340,"y":1740,"wires":[]},{"id":"737ac00b744adf70","type":"inject","z":"bec69dbd.8d622","name":"Connect with options (UDP)","props":[{"p":"topic","vt":"str"},{"p":"options","v":"{\"host\":\"192.168.1.120\",\"port\":9600,\"protocol\":\"udp\",\"DNA\":0,\"DA1\":120,\"DA2\":0,\"SNA\":0,\"SA1\":36,\"SA2\":0}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"connect","x":220,"y":1780,"wires":[["b485a6e3649ae163"]]},{"id":"f6953914909d6731","type":"inject","z":"bec69dbd.8d622","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"disconnect","x":270,"y":1820,"wires":[["b485a6e3649ae163"]]},{"id":"b485a6e3649ae163","type":"FINS Control","z":"bec69dbd.8d622","name":"","connection":"97172f6a093bad4f","clockType":"json","clock":"","connectOptionsType":"msg","connectOptions":"options","msgPropertyType":"msg","msgProperty":"payload","commandType":"msg","command":"topic","x":450,"y":1800,"wires":[[]]},{"id":"81d181190f925dd8","type":"buffer-maker","z":"bec69dbd.8d622","name":"","specification":"spec","specificationType":"ui","items":[{"name":"RPM","type":"string","length":10,"dataType":"msg","data":"payload"}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","x":330,"y":1940,"wires":[["c753cd9e60185a3c"]]},{"id":"97172f6a093bad4f","type":"FINS Connection","name":"PLC1","host":"127.0.0.1","port":"9600","MODE":"CSCJ","protocol":"","protocolType":"udp","ICF":"128","DNA":"","DA1":"","DA2":"","SNA":"","SA1":"","SA2":"","autoConnect":false}]