examples/demo.json
[{"id":"b58a5594b98c1683","type":"FINS Read Multiple","z":"bec69dbd.8d622","name":"","connection":"97172f6a093bad4f","addressType":"str","address":"A600,A601,D100,CIO0.0,A600.0,A600.1,A600.2,A600.3","msgPropertyType":"msg","msgProperty":"payload","outputFormatType":"signed","outputFormat":"","x":300,"y":1360,"wires":[["b8093503019d3e6b"]]},{"id":"b4ce4e560a4cf648","type":"FINS Fill","z":"bec69dbd.8d622","name":"","connection":"97172f6a093bad4f","addressType":"str","address":"A600","valueType":"num","value":"573","countType":"num","count":"10","msgPropertyType":"msg","msgProperty":"payload","x":330,"y":1240,"wires":[[]]},{"id":"c4a3bafa9391ce2f","type":"FINS Transfer","z":"bec69dbd.8d622","name":"","connection":"97172f6a093bad4f","addressType":"str","address":"A600","address2Type":"str","address2":"A610","countType":"num","count":"10","msgPropertyType":"msg","msgProperty":"payload","x":310,"y":1300,"wires":[[]]},{"id":"b8093503019d3e6b","type":"debug","z":"bec69dbd.8d622","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":570,"y":1360,"wires":[]},{"id":"d1b9f8b2727b75d2","type":"FINS Control","z":"bec69dbd.8d622","name":"","connection":"97172f6a093bad4f","clockType":"msg","clock":"","connectOptionsType":"none","connectOptions":"","msgPropertyType":"msg","msgProperty":"payload","commandType":"clock-read","command":"","x":230,"y":1460,"wires":[["12780886680b3d6b"]]},{"id":"f88b92cb22b528db","type":"inject","z":"bec69dbd.8d622","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":115,"y":1460,"wires":[["d1b9f8b2727b75d2"]],"l":false},{"id":"b4eadde7cd762bd5","type":"debug","z":"bec69dbd.8d622","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":570,"y":1460,"wires":[]},{"id":"5332058de721d91f","type":"FINS Control","z":"bec69dbd.8d622","name":"","connection":"97172f6a093bad4f","clockType":"msg","clock":"clock","connectOptionsType":"none","connectOptions":"","msgPropertyType":"msg","msgProperty":"payload","commandType":"clock-write","command":"","x":410,"y":1540,"wires":[[]]},{"id":"d850877e44cda193","type":"FINS Control","z":"bec69dbd.8d622","name":"","connection":"97172f6a093bad4f","clockType":"json","clock":"","connectOptionsType":"msg","connectOptions":"options","msgPropertyType":"msg","msgProperty":"payload","commandType":"msg","command":"topic","x":1250,"y":1340,"wires":[["6ebd0ddc89ad3819"]]},{"id":"91e29eed935a7247","type":"inject","z":"bec69dbd.8d622","name":"Set PLC mode STOP","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"stop","x":940,"y":1480,"wires":[["d850877e44cda193"]]},{"id":"1be56cb7d6d86ce5","type":"inject","z":"bec69dbd.8d622","name":"Set PLC mode RUN","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"run","x":950,"y":1520,"wires":[["d850877e44cda193"]]},{"id":"6ebd0ddc89ad3819","type":"debug","z":"bec69dbd.8d622","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":1410,"y":1340,"wires":[]},{"id":"3a7f1c9196376fac","type":"FINS Write","z":"bec69dbd.8d622","name":"","connection":"97172f6a093bad4f","addressType":"str","address":"A600","dataType":"msg","data":"payload","msgPropertyType":"msg","msgProperty":"payload","x":430,"y":980,"wires":[[]]},{"id":"909ca59857f68903","type":"inject","z":"bec69dbd.8d622","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[1,2,3,4,5]","payloadType":"json","x":160,"y":960,"wires":[["3a7f1c9196376fac"]]},{"id":"baed2f915d8411d5","type":"inject","z":"bec69dbd.8d622","name":"Get PLC STATUS","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"status","x":950,"y":1300,"wires":[["d850877e44cda193"]]},{"id":"212e0ca5e3dfccf0","type":"inject","z":"bec69dbd.8d622","name":"Read PLC clock","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"clock-read","x":960,"y":1340,"wires":[["d850877e44cda193"]]},{"id":"e253ee9a4fe42a2d","type":"inject","z":"bec69dbd.8d622","name":"Read CPU Unit data","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"cpu-unit-data-read","x":950,"y":1380,"wires":[["d850877e44cda193"]]},{"id":"c076bc9504bc1d9b","type":"function","z":"bec69dbd.8d622","name":"get time","func":"\nvar now = new Date();\nmsg.clock = { \n    \"year\": now.getFullYear() - 2000,\n    \"month\": now.getMonth()+1,\n    \"day\": now.getDate(),\n    \"hour\": now.getHours(),\n    \"minute\": now.getMinutes(),\n    \"second\": now.getSeconds(),\n     \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":1540,"wires":[["5332058de721d91f"]]},{"id":"12780886680b3d6b","type":"function","z":"bec69dbd.8d622","name":"make time","func":"msg.payload = new Date(msg.payload.year+2000, msg.payload.month, msg.payload.day, msg.payload.hour, msg.payload.minute, msg.payload.second);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":1460,"wires":[["b4eadde7cd762bd5"]]},{"id":"eb10c98bf51c3206","type":"inject","z":"bec69dbd.8d622","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":115,"y":1540,"wires":[["c076bc9504bc1d9b"]],"l":false},{"id":"0e7aa5542e833bb3","type":"inject","z":"bec69dbd.8d622","name":"Connect with options (UDP)","props":[{"p":"topic","vt":"str"},{"p":"options","v":"{\"host\":\"192.168.1.120\",\"port\":9600,\"protocol\":\"udp\",\"DNA\":0,\"DA1\":120,\"DA2\":0,\"SNA\":0,\"SA1\":36,\"SA2\":0}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"connect","x":920,"y":1120,"wires":[["d850877e44cda193"]]},{"id":"7aaffd58bcfb688b","type":"inject","z":"bec69dbd.8d622","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"disconnect","x":970,"y":1200,"wires":[["d850877e44cda193"]]},{"id":"9062bf8e881be5a4","type":"inject","z":"bec69dbd.8d622","name":"Connect with options (TCP)","props":[{"p":"topic","vt":"str"},{"p":"options","v":"{\"host\":\"192.168.1.120\",\"port\":9700,\"protocol\":\"tcp\",\"DNA\":0,\"DA1\":120,\"DA2\":0,\"SNA\":0,\"SA1\":38,\"SA2\":0}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"connect","x":920,"y":1160,"wires":[["d850877e44cda193"]]},{"id":"ea7f1b5bfd0e9a63","type":"inject","z":"bec69dbd.8d622","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":115,"y":1300,"wires":[["c4a3bafa9391ce2f"]],"l":false},{"id":"ef45d554912bc607","type":"inject","z":"bec69dbd.8d622","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":115,"y":1240,"wires":[["b4ce4e560a4cf648"]],"l":false},{"id":"46e9ba2856fee92e","type":"inject","z":"bec69dbd.8d622","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":115,"y":1360,"wires":[["b58a5594b98c1683"]],"l":false},{"id":"c3e825170be48d21","type":"comment","z":"bec69dbd.8d622","name":"Demo of READ, WRITE, FILL, TRANSFER and READ MULTIPLE","info":"","x":310,"y":920,"wires":[]},{"id":"ce0eddb7bf3faa24","type":"comment","z":"bec69dbd.8d622","name":"Demo of CLOCK READ and CLOCK WRITE","info":"","x":250,"y":1420,"wires":[]},{"id":"d464ccdc7ae31241","type":"comment","z":"bec69dbd.8d622","name":"Demo of FINS Control node","info":"","x":920,"y":1080,"wires":[]},{"id":"ba8238c8d2647756","type":"FINS Read","z":"bec69dbd.8d622","name":"","connection":"97172f6a093bad4f","addressType":"str","address":"A600","countType":"num","count":"20","msgPropertyType":"msg","msgProperty":"payload","outputFormatType":"unsignedkv","outputFormat":"","x":340,"y":1180,"wires":[["e10fa4e196cfe65e"]]},{"id":"e10fa4e196cfe65e","type":"debug","z":"bec69dbd.8d622","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":570,"y":1180,"wires":[]},{"id":"5e9d7282bb1b9101","type":"inject","z":"bec69dbd.8d622","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[6,7,8,9,10]","payloadType":"json","x":160,"y":1000,"wires":[["3a7f1c9196376fac"]]},{"id":"f268c1fcb3e96a7f","type":"inject","z":"bec69dbd.8d622","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":115,"y":1180,"wires":[["ba8238c8d2647756"]],"l":false},{"id":"e22349a9513539f4","type":"FINS Read","z":"bec69dbd.8d622","name":"","connection":"97172f6a093bad4f","addressType":"str","address":"A600.00","countType":"num","count":"32","msgPropertyType":"msg","msgProperty":"payload","outputFormatType":"unsignedkv","outputFormat":"","x":350,"y":1120,"wires":[["90e0e2d11ee2ebb8"]]},{"id":"90e0e2d11ee2ebb8","type":"debug","z":"bec69dbd.8d622","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":570,"y":1120,"wires":[]},{"id":"1c8aab6cc9bf2ba5","type":"inject","z":"bec69dbd.8d622","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":115,"y":1120,"wires":[["e22349a9513539f4"]],"l":false},{"id":"f473857510de5aaa","type":"FINS Write","z":"bec69dbd.8d622","name":"","connection":"97172f6a093bad4f","addressType":"str","address":"A600.00","dataType":"msg","data":"payload","msgPropertyType":"msg","msgProperty":"payload","x":420,"y":1060,"wires":[[]]},{"id":"5985389b5b8760f8","type":"inject","z":"bec69dbd.8d622","name":"[true,false, true,false]","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[true,false, true,false]","payloadType":"json","x":200,"y":1040,"wires":[["f473857510de5aaa"]]},{"id":"f8cb563b14fa1433","type":"inject","z":"bec69dbd.8d622","name":"[0,0,1,1]","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[0,0,1,1]","payloadType":"json","x":160,"y":1080,"wires":[["f473857510de5aaa"]]},{"id":"c863a1ce43ae9e85","type":"catch","z":"bec69dbd.8d622","name":"","scope":["b58a5594b98c1683","b4ce4e560a4cf648","c4a3bafa9391ce2f","d1b9f8b2727b75d2","5332058de721d91f","d850877e44cda193","3a7f1c9196376fac","ba8238c8d2647756","e22349a9513539f4","f473857510de5aaa"],"uncaught":false,"x":840,"y":980,"wires":[["74b2a04126526a0a"]]},{"id":"74b2a04126526a0a","type":"debug","z":"bec69dbd.8d622","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"error.message","statusType":"msg","x":1010,"y":980,"wires":[]},{"id":"97172f6a093bad4f","type":"FINS Connection","name":"PLC1","host":"127.0.0.1","port":"9600","MODE":"CSCJ","protocol":"","protocolType":"udp","ICF":"128","DNA":"","DA1":"","DA2":"","SNA":"","SA1":"","SA2":"","autoConnect":false}]