examples/read and write demo.json
[{"id":"b1fd5e4f4cca365a","type":"FINS Read Multiple","z":"bec69dbd.8d622","name":"","connection":"97172f6a093bad4f","addressType":"str","address":"T0,T0.x,C0,C0.x,D100,D100.0,CIO0,CIO0.0,A600,A600.0,A600.1,A600.2,A600.3,W0,W0.0,H0,H0.0","msgPropertyType":"msg","msgProperty":"payload","outputFormatType":"unsignedkv","outputFormat":"","x":360,"y":1800,"wires":[["7092f815dc1a456d"]]},{"id":"1eed7915c8209ac7","type":"FINS Fill","z":"bec69dbd.8d622","name":"","connection":"97172f6a093bad4f","addressType":"str","address":"A600","valueType":"num","value":"573","countType":"num","count":"10","msgPropertyType":"msg","msgProperty":"payload","x":410,"y":1680,"wires":[[]]},{"id":"283ba0fc982f3ca4","type":"FINS Transfer","z":"bec69dbd.8d622","name":"","connection":"97172f6a093bad4f","addressType":"str","address":"A600","address2Type":"str","address2":"A610","countType":"num","count":"10","msgPropertyType":"msg","msgProperty":"payload","x":390,"y":1740,"wires":[[]]},{"id":"7092f815dc1a456d","type":"debug","z":"bec69dbd.8d622","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":610,"y":1800,"wires":[]},{"id":"81d8ad6d6aab26aa","type":"FINS Write","z":"bec69dbd.8d622","name":"","connection":"97172f6a093bad4f","addressType":"str","address":"A600","dataType":"msg","data":"payload","msgPropertyType":"msg","msgProperty":"payload","x":450,"y":1420,"wires":[[]]},{"id":"77ae72b79c524f5e","type":"inject","z":"bec69dbd.8d622","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[1,2,3,4,5]","payloadType":"json","x":180,"y":1400,"wires":[["81d8ad6d6aab26aa"]]},{"id":"cba8f8b0c0d2deff","type":"comment","z":"bec69dbd.8d622","name":"Demo of READ, WRITE, FILL, TRANSFER and READ MULTIPLE","info":"","x":330,"y":1200,"wires":[]},{"id":"e53bd28780415061","type":"FINS Read","z":"bec69dbd.8d622","name":"","connection":"97172f6a093bad4f","addressType":"str","address":"A600","countType":"num","count":"20","msgPropertyType":"msg","msgProperty":"payload","outputFormatType":"unsignedkv","outputFormat":"","x":420,"y":1620,"wires":[["3e274f356f5fb5c1"]]},{"id":"3e274f356f5fb5c1","type":"debug","z":"bec69dbd.8d622","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":610,"y":1620,"wires":[]},{"id":"7e430be613738235","type":"inject","z":"bec69dbd.8d622","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[6,7,8,9,10]","payloadType":"json","x":180,"y":1440,"wires":[["81d8ad6d6aab26aa"]]},{"id":"d114f9437d86a527","type":"FINS Read","z":"bec69dbd.8d622","name":"","connection":"97172f6a093bad4f","addressType":"str","address":"A600.00","countType":"num","count":"32","msgPropertyType":"msg","msgProperty":"payload","outputFormatType":"unsignedkv","outputFormat":"","x":410,"y":1560,"wires":[["d0874f97aad2b013"]]},{"id":"d0874f97aad2b013","type":"debug","z":"bec69dbd.8d622","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":610,"y":1560,"wires":[]},{"id":"01e3e155bf34a315","type":"inject","z":"bec69dbd.8d622","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":135,"y":1560,"wires":[["d114f9437d86a527"]],"l":false},{"id":"d92df41854f0bd1d","type":"FINS Write","z":"bec69dbd.8d622","name":"","connection":"97172f6a093bad4f","addressType":"str","address":"A600.00","dataType":"msg","data":"payload","msgPropertyType":"msg","msgProperty":"payload","x":440,"y":1500,"wires":[[]]},{"id":"08aeecde7b1c94ad","type":"inject","z":"bec69dbd.8d622","name":"[true,false, true,false]","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[true,false, true,false]","payloadType":"json","x":220,"y":1480,"wires":[["d92df41854f0bd1d"]]},{"id":"3034dc89f9062ca0","type":"inject","z":"bec69dbd.8d622","name":"[0,0,1,1]","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[0,0,1,1]","payloadType":"json","x":180,"y":1520,"wires":[["d92df41854f0bd1d"]]},{"id":"4b72548e180e33a3","type":"inject","z":"bec69dbd.8d622","name":"Connect with options (UDP)","props":[{"p":"topic","vt":"str"},{"p":"options","v":"{\"host\":\"192.168.1.120\",\"port\":9600,\"protocol\":\"udp\",\"DNA\":0,\"DA1\":120,\"DA2\":0,\"SNA\":0,\"SA1\":36,\"SA2\":0}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"connect","x":240,"y":1240,"wires":[["6c5b4c20c9310906"]]},{"id":"6c5b4c20c9310906","type":"FINS Control","z":"bec69dbd.8d622","name":"","connection":"97172f6a093bad4f","clockType":"json","clock":"","connectOptionsType":"msg","connectOptions":"options","msgPropertyType":"msg","msgProperty":"payload","commandType":"msg","command":"topic","x":470,"y":1260,"wires":[[]]},{"id":"74713e2c39275ad3","type":"inject","z":"bec69dbd.8d622","name":"Disconnect from PLC","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"disconnect","x":220,"y":1280,"wires":[["6c5b4c20c9310906"]]},{"id":"4607061e380aea44","type":"catch","z":"bec69dbd.8d622","name":"","scope":["b1fd5e4f4cca365a","1eed7915c8209ac7","283ba0fc982f3ca4","81d8ad6d6aab26aa","e53bd28780415061","d114f9437d86a527","d92df41854f0bd1d","6c5b4c20c9310906"],"uncaught":false,"x":150,"y":1340,"wires":[["6d828b9d0ef44fbe"]]},{"id":"6d828b9d0ef44fbe","type":"debug","z":"bec69dbd.8d622","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":370,"y":1340,"wires":[]},{"id":"e34dcce21dae26c4","type":"inject","z":"bec69dbd.8d622","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":135,"y":1620,"wires":[["e53bd28780415061"]],"l":false},{"id":"6fd981ea6c965037","type":"inject","z":"bec69dbd.8d622","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":135,"y":1680,"wires":[["1eed7915c8209ac7"]],"l":false},{"id":"062ceedf2453f42f","type":"inject","z":"bec69dbd.8d622","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":135,"y":1740,"wires":[["283ba0fc982f3ca4"]],"l":false},{"id":"2ccc1757724d49ab","type":"inject","z":"bec69dbd.8d622","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":135,"y":1800,"wires":[["b1fd5e4f4cca365a"]],"l":false},{"id":"97172f6a093bad4f","type":"FINS Connection","name":"PLC1","host":"127.0.0.1","port":"9600","MODE":"CSCJ","protocol":"","protocolType":"env","ICF":"128","DNA":"","DA1":"","DA2":"","SNA":"","SA1":"","SA2":"","autoConnect":false}]