examples/read and write demo.json
[{"id":"91bd98d09576e76a","type":"FINS Read Multiple","z":"bec69dbd.8d622","name":"","connection":"97172f6a093bad4f","addressType":"str","address":"A600,A601,D100,CIO0.0,A600.0,A600.1,A600.2,A600.3","msgPropertyType":"msg","msgProperty":"payload","outputFormatType":"signed","outputFormat":"","x":380,"y":1640,"wires":[["7df9aa27e810ada0"]]},{"id":"c3d3ae76b9fd7d01","type":"FINS Fill","z":"bec69dbd.8d622","name":"","connection":"97172f6a093bad4f","addressType":"str","address":"A600","valueType":"num","value":"573","countType":"num","count":"10","msgPropertyType":"msg","msgProperty":"payload","x":410,"y":1520,"wires":[[]]},{"id":"70f8ff3b25332338","type":"FINS Transfer","z":"bec69dbd.8d622","name":"","connection":"97172f6a093bad4f","addressType":"str","address":"A600","address2Type":"str","address2":"A610","countType":"num","count":"10","msgPropertyType":"msg","msgProperty":"payload","x":390,"y":1580,"wires":[[]]},{"id":"7df9aa27e810ada0","type":"debug","z":"bec69dbd.8d622","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":610,"y":1640,"wires":[]},{"id":"688c0637f9fed887","type":"FINS Control","z":"bec69dbd.8d622","name":"","connection":"97172f6a093bad4f","clockType":"msg","clock":"","connectOptionsType":"none","connectOptions":"","msgPropertyType":"msg","msgProperty":"payload","commandType":"clock-read","command":"","x":250,"y":1760,"wires":[["f5457e1484c004d9"]]},{"id":"e1155c416a7cd5e5","type":"inject","z":"bec69dbd.8d622","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":135,"y":1760,"wires":[["688c0637f9fed887"]],"l":false},{"id":"42973dcb84ea3af9","type":"debug","z":"bec69dbd.8d622","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":610,"y":1760,"wires":[]},{"id":"310599ac535ffcad","type":"FINS Control","z":"bec69dbd.8d622","name":"","connection":"97172f6a093bad4f","clockType":"msg","clock":"clock","connectOptionsType":"none","connectOptions":"","msgPropertyType":"msg","msgProperty":"payload","commandType":"clock-write","command":"","x":430,"y":1840,"wires":[[]]},{"id":"f8e3ce36e9290960","type":"FINS Write","z":"bec69dbd.8d622","name":"","connection":"97172f6a093bad4f","addressType":"str","address":"A600","dataType":"msg","data":"payload","msgPropertyType":"msg","msgProperty":"payload","x":450,"y":1260,"wires":[[]]},{"id":"af44f5a802331679","type":"inject","z":"bec69dbd.8d622","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[1,2,3,4,5]","payloadType":"json","x":180,"y":1240,"wires":[["f8e3ce36e9290960"]]},{"id":"696a22e07dc9d3e8","type":"function","z":"bec69dbd.8d622","name":"get time","func":"\nvar now = new Date();\nmsg.clock = { \n    \"year\": now.getFullYear() - 2000,\n    \"month\": now.getMonth()+1,\n    \"day\": now.getDate(),\n    \"hour\": now.getHours(),\n    \"minute\": now.getMinutes(),\n    \"second\": now.getSeconds(),\n     \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":1840,"wires":[["310599ac535ffcad"]]},{"id":"f5457e1484c004d9","type":"function","z":"bec69dbd.8d622","name":"make time","func":"msg.payload = new Date(msg.payload.year+2000, msg.payload.month, msg.payload.day, msg.payload.hour, msg.payload.minute, msg.payload.second);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":1760,"wires":[["42973dcb84ea3af9"]]},{"id":"2fc3b103c6960fc0","type":"inject","z":"bec69dbd.8d622","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":135,"y":1840,"wires":[["696a22e07dc9d3e8"]],"l":false},{"id":"3a30985d2ae57232","type":"inject","z":"bec69dbd.8d622","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":135,"y":1580,"wires":[["70f8ff3b25332338"]],"l":false},{"id":"f351c8c74e383872","type":"inject","z":"bec69dbd.8d622","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":135,"y":1520,"wires":[["c3d3ae76b9fd7d01"]],"l":false},{"id":"a9f021b6680f71b0","type":"inject","z":"bec69dbd.8d622","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":135,"y":1640,"wires":[["91bd98d09576e76a"]],"l":false},{"id":"fd9c8a343e17c4d5","type":"comment","z":"bec69dbd.8d622","name":"Demo of READ, WRITE, FILL, TRANSFER and READ MULTIPLE","info":"","x":330,"y":1020,"wires":[]},{"id":"bbfb59d5d4d899c5","type":"comment","z":"bec69dbd.8d622","name":"Demo of CLOCK READ and CLOCK WRITE","info":"","x":270,"y":1720,"wires":[]},{"id":"8bc0039cdfb64a5b","type":"FINS Read","z":"bec69dbd.8d622","name":"","connection":"97172f6a093bad4f","addressType":"str","address":"A600","countType":"num","count":"20","msgPropertyType":"msg","msgProperty":"payload","outputFormatType":"unsignedkv","outputFormat":"","x":420,"y":1460,"wires":[["20c71cefe8e31754"]]},{"id":"20c71cefe8e31754","type":"debug","z":"bec69dbd.8d622","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":610,"y":1460,"wires":[]},{"id":"b01ac1b0eacd76a3","type":"inject","z":"bec69dbd.8d622","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[6,7,8,9,10]","payloadType":"json","x":180,"y":1280,"wires":[["f8e3ce36e9290960"]]},{"id":"dafc4e82b3794af2","type":"inject","z":"bec69dbd.8d622","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":135,"y":1460,"wires":[["8bc0039cdfb64a5b"]],"l":false},{"id":"0365ee22d149a57e","type":"FINS Read","z":"bec69dbd.8d622","name":"","connection":"97172f6a093bad4f","addressType":"str","address":"A600.00","countType":"num","count":"32","msgPropertyType":"msg","msgProperty":"payload","outputFormatType":"unsignedkv","outputFormat":"","x":410,"y":1400,"wires":[["9a19a5146efaf35c"]]},{"id":"9a19a5146efaf35c","type":"debug","z":"bec69dbd.8d622","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":610,"y":1400,"wires":[]},{"id":"a306b7947e8b791f","type":"inject","z":"bec69dbd.8d622","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":135,"y":1400,"wires":[["0365ee22d149a57e"]],"l":false},{"id":"a0038953a2ad83db","type":"FINS Write","z":"bec69dbd.8d622","name":"","connection":"97172f6a093bad4f","addressType":"str","address":"A600.00","dataType":"msg","data":"payload","msgPropertyType":"msg","msgProperty":"payload","x":440,"y":1340,"wires":[[]]},{"id":"a310c483aaed7ee6","type":"inject","z":"bec69dbd.8d622","name":"[true,false, true,false]","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[true,false, true,false]","payloadType":"json","x":220,"y":1320,"wires":[["a0038953a2ad83db"]]},{"id":"299ea290c4d11f53","type":"inject","z":"bec69dbd.8d622","name":"[0,0,1,1]","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[0,0,1,1]","payloadType":"json","x":180,"y":1360,"wires":[["a0038953a2ad83db"]]},{"id":"40a90b478d7b797b","type":"inject","z":"bec69dbd.8d622","name":"Connect with options (UDP)","props":[{"p":"topic","vt":"str"},{"p":"options","v":"{\"host\":\"192.168.1.120\",\"port\":9600,\"protocol\":\"udp\",\"DNA\":0,\"DA1\":120,\"DA2\":0,\"SNA\":0,\"SA1\":36,\"SA2\":0}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"connect","x":240,"y":1080,"wires":[["166c09866cd35931"]]},{"id":"166c09866cd35931","type":"FINS Control","z":"bec69dbd.8d622","name":"","connection":"97172f6a093bad4f","clockType":"json","clock":"","connectOptionsType":"msg","connectOptions":"options","msgPropertyType":"msg","msgProperty":"payload","commandType":"msg","command":"topic","x":470,"y":1100,"wires":[[]]},{"id":"c84e785453eae7a6","type":"inject","z":"bec69dbd.8d622","name":"Disconnect from PLC","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"disconnect","x":260,"y":1120,"wires":[["166c09866cd35931"]]},{"id":"89b128f5bfd44dbb","type":"catch","z":"bec69dbd.8d622","name":"","scope":["91bd98d09576e76a","c3d3ae76b9fd7d01","70f8ff3b25332338","688c0637f9fed887","310599ac535ffcad","f8e3ce36e9290960","8bc0039cdfb64a5b","0365ee22d149a57e","a0038953a2ad83db","166c09866cd35931"],"uncaught":false,"x":460,"y":1180,"wires":[["32f43fe3c7c8c84d"]]},{"id":"32f43fe3c7c8c84d","type":"debug","z":"bec69dbd.8d622","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"error.message","statusType":"msg","x":610,"y":1180,"wires":[]},{"id":"97172f6a093bad4f","type":"FINS Connection","name":"PLC1","host":"127.0.0.1","port":"9600","MODE":"CSCJ","protocol":"","protocolType":"udp","ICF":"128","DNA":"","DA1":"","DA2":"","SNA":"","SA1":"","SA2":"","autoConnect":false}]