examples/read and write typed values (requires buffer parser).json
[{"id":"42d5a6e274f7c8ba","type":"inject","z":"bec69dbd.8d622","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"D0","payload":"hello","payloadType":"str","x":1120,"y":560,"wires":[["d5dfe198732f152b"]]},{"id":"7faaead01abfaae2","type":"inject","z":"bec69dbd.8d622","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"D0","payload":"bye","payloadType":"str","x":1110,"y":600,"wires":[["d5dfe198732f152b"]]},{"id":"4abffcb031ca4f97","type":"buffer-parser","z":"bec69dbd.8d622","name":"buffer to uint16","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"uint16be","name":"item1","offset":0,"length":-1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"value","resultTypeType":"output","multipleResult":true,"fanOutMultipleResult":false,"setTopic":false,"outputs":1,"x":1500,"y":580,"wires":[["be859f782df301ff"]]},{"id":"be859f782df301ff","type":"FINS Write","z":"bec69dbd.8d622","name":"","connection":"97172f6a093bad4f","addressType":"str","address":"D0","dataType":"msg","data":"payload","msgPropertyType":"msg","msgProperty":"payload","x":1820,"y":580,"wires":[[]]},{"id":"1753308c62c1cfc5","type":"FINS Read","z":"bec69dbd.8d622","name":"","connection":"97172f6a093bad4f","addressType":"str","address":"D0","countType":"num","count":"10","msgPropertyType":"msg","msgProperty":"payload","outputFormatType":"buffer","outputFormat":"","x":1290,"y":680,"wires":[["b64d1794f9792e42"]]},{"id":"bd2c109e2a291c34","type":"inject","z":"bec69dbd.8d622","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":1075,"y":680,"wires":[["1753308c62c1cfc5"]],"l":false},{"id":"b64d1794f9792e42","type":"buffer-parser","z":"bec69dbd.8d622","name":"buffer to string","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"string","name":"item1","offset":0,"length":10,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"value","resultTypeType":"output","multipleResult":true,"fanOutMultipleResult":false,"setTopic":false,"outputs":1,"x":1500,"y":680,"wires":[["2ea0dc6b03fe1c1d"]]},{"id":"2ea0dc6b03fe1c1d","type":"debug","z":"bec69dbd.8d622","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1830,"y":680,"wires":[]},{"id":"627592b28dc1622f","type":"comment","z":"bec69dbd.8d622","name":"Demo of writing and reading strings using buffer parser and buffer maker","info":"","x":1290,"y":520,"wires":[]},{"id":"4da45c846c8989c4","type":"inject","z":"bec69dbd.8d622","name":"data1","props":[{"p":"payload"},{"p":"payload.RPM","v":"2401.7","vt":"num"},{"p":"payload.setRPM","v":"2400.0","vt":"num"},{"p":"payload.faultCount","v":"3","vt":"num"},{"p":"payload.lastFault","v":"stalled","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":1110,"y":800,"wires":[["b83076ff41e56d08"]]},{"id":"9127577564dd4e8c","type":"buffer-parser","z":"bec69dbd.8d622","name":"buffer to uint16","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"uint16be","name":"item1","offset":0,"length":-1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"value","resultTypeType":"output","multipleResult":true,"fanOutMultipleResult":false,"setTopic":false,"outputs":1,"x":1500,"y":820,"wires":[["05c7ef380f32f35f","c5badcd32b5bb57c"]]},{"id":"05c7ef380f32f35f","type":"FINS Write","z":"bec69dbd.8d622","name":"","connection":"97172f6a093bad4f","addressType":"str","address":"D0","dataType":"msg","data":"payload","msgPropertyType":"msg","msgProperty":"payload","x":1820,"y":820,"wires":[[]]},{"id":"06e75451601b738f","type":"FINS Read","z":"bec69dbd.8d622","name":"","connection":"97172f6a093bad4f","addressType":"str","address":"D0","countType":"num","count":"12","msgPropertyType":"msg","msgProperty":"payload","outputFormatType":"buffer","outputFormat":"","x":1290,"y":940,"wires":[["68e5475aa6c6ef6f","621d4244f706def0"]]},{"id":"013ddc4defef660a","type":"inject","z":"bec69dbd.8d622","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":1075,"y":940,"wires":[["06e75451601b738f"]],"l":false},{"id":"5298d17f14f7dd5d","type":"debug","z":"bec69dbd.8d622","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1830,"y":940,"wires":[]},{"id":"96b21d23f204661b","type":"comment","z":"bec69dbd.8d622","name":"Demo of writing floats, ints, bytes from an object then reading them back from PLC into correct types and back into named properties","info":"","x":1480,"y":760,"wires":[]},{"id":"b83076ff41e56d08","type":"buffer-maker","z":"bec69dbd.8d622","name":"","specification":"spec","specificationType":"ui","items":[{"name":"RPM","type":"floatbe","length":1,"dataType":"msg","data":"payload.RPM"},{"name":"setRPM","type":"floatbe","length":1,"dataType":"msg","data":"payload.setRPM"},{"name":"faultCount","type":"uint16be","length":1,"dataType":"msg","data":"payload.faultCount"},{"name":"status","type":"byte","length":1,"dataType":"msg","data":"payload.status"},{"name":"lastFault","type":"string","length":10,"dataType":"msg","data":"payload.lastFault"}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","x":1290,"y":820,"wires":[["9127577564dd4e8c"]]},{"id":"c5badcd32b5bb57c","type":"debug","z":"bec69dbd.8d622","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1830,"y":880,"wires":[]},{"id":"68e5475aa6c6ef6f","type":"buffer-parser","z":"bec69dbd.8d622","name":"buffer to key/value object","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"floatbe","name":"RPM","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"floatbe","name":"setRPM","offset":4,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16be","name":"faultCount","offset":8,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"byte","name":"status","offset":10,"length":1,"offsetbit":0,"scale":"1","mask":"0x7"},{"type":"string","name":"lastFault","offset":11,"length":10,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"output","multipleResult":false,"fanOutMultipleResult":false,"setTopic":false,"outputs":1,"x":1530,"y":940,"wires":[["5298d17f14f7dd5d"]]},{"id":"3401b038b01c6511","type":"inject","z":"bec69dbd.8d622","name":"data2","props":[{"p":"payload"},{"p":"payload.RPM","v":"97.193","vt":"num"},{"p":"payload.setRPM","v":"100","vt":"num"},{"p":"payload.faultCount","v":"19","vt":"num"},{"p":"payload.status","v":"1","vt":"num"},{"p":"payload.lastFault","v":"over speed","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":1110,"y":840,"wires":[["b83076ff41e56d08"]]},{"id":"732501c0d62d1e23","type":"catch","z":"bec69dbd.8d622","name":"","scope":["4abffcb031ca4f97","be859f782df301ff","1753308c62c1cfc5","b64d1794f9792e42","9127577564dd4e8c","05c7ef380f32f35f","06e75451601b738f","b83076ff41e56d08","68e5475aa6c6ef6f","93ea5183011f2602","d5dfe198732f152b"],"uncaught":false,"x":1620,"y":440,"wires":[["10abc5163d72e940"]]},{"id":"10abc5163d72e940","type":"debug","z":"bec69dbd.8d622","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","statusVal":"error.message","statusType":"msg","x":1810,"y":440,"wires":[]},{"id":"621d4244f706def0","type":"debug","z":"bec69dbd.8d622","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1350,"y":1000,"wires":[]},{"id":"9104ed3b25bfce59","type":"comment","z":"bec69dbd.8d622","name":"NOTE: This demo requires \"node-red-contrib-buffer-parser\" to be installed","info":"","x":1300,"y":380,"wires":[]},{"id":"cd53189b83479520","type":"inject","z":"bec69dbd.8d622","name":"Connect with options (UDP)","props":[{"p":"topic","vt":"str"},{"p":"options","v":"{\"host\":\"192.168.1.120\",\"port\":9600,\"protocol\":\"udp\",\"DNA\":0,\"DA1\":120,\"DA2\":0,\"SNA\":0,\"SA1\":36,\"SA2\":0}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"connect","x":1180,"y":420,"wires":[["93ea5183011f2602"]]},{"id":"93ea5183011f2602","type":"FINS Control","z":"bec69dbd.8d622","name":"","connection":"97172f6a093bad4f","clockType":"json","clock":"","connectOptionsType":"msg","connectOptions":"options","msgPropertyType":"msg","msgProperty":"payload","commandType":"msg","command":"topic","x":1410,"y":440,"wires":[[]]},{"id":"d5dfe198732f152b","type":"buffer-maker","z":"bec69dbd.8d622","name":"","specification":"spec","specificationType":"ui","items":[{"name":"RPM","type":"string","length":10,"dataType":"msg","data":"payload"}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","x":1310,"y":580,"wires":[["4abffcb031ca4f97"]]},{"id":"1c20391714e22f7a","type":"inject","z":"bec69dbd.8d622","name":"Disconnect from PLC","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"disconnect","x":1200,"y":460,"wires":[["93ea5183011f2602"]]},{"id":"97172f6a093bad4f","type":"FINS Connection","name":"PLC1","host":"127.0.0.1","port":"9600","MODE":"CSCJ","protocol":"","protocolType":"udp","ICF":"128","DNA":"","DA1":"","DA2":"","SNA":"","SA1":"","SA2":"","autoConnect":false}]